body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}
:root {
  --main-bg-color: #e83e8c;
}

/*
  *********************************************************************
  Estilos para el Nav Bar                                             *
  *********************************************************************
*/
.navbar {
  background: var(--main-bg-color);
}
.navbar-brand img {
  height: 3.3125rem;
}
/*
  *********************************************************************
  *********************************************************************
  *********************************************************************
*/

/*
  *********************************************************************
  Estilos para el sector de las imagenes de productos                 *
  *********************************************************************
*/

/*En pantallas sobre los 768px el h1 sera de 60px*/
h1 {
  font-size: 3.75rem;
  font-weight: 600;
  color: #707070;
}
#productos h1 {
  padding: 60px 0px;
}
#productos {
  padding-top: 3.75rem;
}

/*Si la pantalla es menor a 768px la fuente del h1 es de 35px */
@media (max-width: 768px) {
  #productos h1 {
    font-size: 35px;
    padding: 30px 0px;
    margin-top: 30px;
  }
}
/*
  *********************************************************************
  *********************************************************************
  *********************************************************************
*/

/*
  *********************************************************************
  Estilos para el sector de tarjetas de credito y footer              *
  *********************************************************************
*/
#Ahora-aceptamos {
  background: #17a2b8;
}
footer {
  background: var(--main-bg-color);
}
footer img {
  height: 6.25rem;
}

/*
  *********************************************************************
  *********************************************************************
  *********************************************************************
*/

/*
  *********************************************************************
  Estilos generales para las letras, link etc.                        *
  *********************************************************************
*/
a {
  text-decoration: none;
}